body {
    font-family: 'Montserrat', sans-serif;
}

/* header (all pages) */

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.flag {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #005CC8;
    text-decoration: under;
}

/* products page */

.products {
    width: 940px;
    margin: 0px auto;
    padding: 50px 0px;
}

.products li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0px 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 15px;
}

.products li:hover {
    border-color: #005CC8;
}

.products li:active {
    border-color: #005CC8;
}

.products li:hover h2 {
    font-size: 34px;
}

.products h2 {
    font-size: 30px;
    font-weight: bold;
}

.products .description {
    font-size: 18px;
}

.products .price {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 0 0;
}

/* Main (all pages) */

main {
    width: 940px;
    margin: 0 auto;
}

/* "agendamento" and "contato" pages */

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}

.stock-input {
    display: block;
    margin: 0 0 20px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 15px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.time {
    display: block;
    margin: 0 0 20px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 15px;
    width: 10%;
}

#button {
    display: block;
    background-color: lightgrey;
    margin: 0 0 20px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px 10px;
    font-size: 25px;
    width: 40%;
    transition: 0.25s all;
    cursor: pointer;
}

#button:hover {
    background-color: #005CC8;
    border-color: darkblue;
    text-decoration: underline;
    transform: scale(1.1);
}

/* index page */

.index-principal {
    margin-top: 2.5%;
    padding: 1%;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.index-h1 {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    margin: 1.25em 0 0.75em 0;
}

.index-h2 {
    font-weight: bold;
}

.index-principal p {
    margin: 0 0 1em;
}

.map {
    margin-top: 5%;
    padding: 1%;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.map h1{
    font-weight: bold;
    text-align: center;
    padding: 2em 0;
}

.map p {
    margin: 0 0 2em;
    text-align: center;
}

.video {
    margin: 5% auto;
    padding: 1%;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.video h2{
    font-weight: bold;
    text-align: center;
    padding: 2em 0;
}

.video p{
    text-align: right;
}

/* Footer (all pages) */

footer {
    text-align: center;
    background-image: url(imagens/bg.jpg);
    padding: 40px 0px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 13px;
    
}

.lucas {
    color: lightgrey;
    font-weight: bold;
    cursor: pointer;
}

.lucas:hover {
    color: #005CC8;
}

@media screen and (max-width: 480px) {
    .flag, .index-principal, .map, .video, .footer, main, .products, input{
        width: auto;
    }

    h1, form label, form legend, input {
        text-align: center;
    }

    nav {
        position: static;
    }
}
